# Test-only dependencies are unpinned.
#
git+https://git.launchpad.net/ubuntu/+source/python-distutils-extra
pip
coverage>=3.6
mock>=1.0.1,<1.1.0
nose>=1.3.1
flake8
testtools==0.9.14  # Before dependent on modern 'six'
amulet
distro-info
sphinx_rtd_theme
ipaddress;python_version<'3.0'  # Py27 unit test requirement

-r./requirements.txt

netifaces==0.10    # trusty is 0.8, but using py3 compatible version for tests.
psutil==1.2.1      # trusty
python-keystoneclient==2.3.2 # xenial
dnspython==1.11.1  # trusty
