# Test-only dependencies are unpinned.
#
git+https://git.launchpad.net/ubuntu/+source/python-distutils-extra
pip
coverage>=3.6
mock>=1.0.1,<1.1.0
nose>=1.3.1; python_version < '3.10'
nose2; python_version >= '3.10'
nose2[coverage_plugin]; python_version >= '3.10'
flake8
# testtools==0.9.14  # Before dependent on modern 'six'
testtools
sphinx_rtd_theme


##########################################################
# Specify versions of runtime dependencies where possible.
# The requirements.txt file cannot be so specific

# https://pyyaml.org/wiki/PyYAML#history
PyYAML

# https://jinja.palletsprojects.com/en/2.11.x/changelog/
Jinja2

##############################################################

netifaces==0.10    # trusty is 0.8, but using py3 compatible version for tests.
psutil
python-keystoneclient
# Fixes:
#  File ".../.tox/py3/lib/python3.10/site-packages/pip/_vendor/toml/decoder.py", line 997, in load_array
#    a[b] = a[b] + ',' + a[b + 1]
# IndexError: list index out of range
MarkupSafe<3.0.3
dnspython
