<VirtualHost *:{{port}}>
	ServerAdmin webmaster@localhost

	DocumentRoot {{server_root}}
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory {{server_root}}>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

    {{if serve_tests}}
        Alias /test {{tests_root}}
    {{endif}}

    FallbackResource /index.html

</VirtualHost>
