global
    maxconn 4096
    user haproxy
    group haproxy
    daemon
    # Set the base path for the WebSocket TLS certificate.
    ca-base {{ssl_cert_path}}
    # Set the base path for the HTTPS TLS certificate.
    crt-base {{ssl_cert_path}}

defaults
    log global
    maxconn 4096
    mode http
    option http-server-close
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    # Set a long timeout for WebSocket connections.
    timeout tunnel 8h

backend juju
    # The Juju WebSocket backend.
    # Re-encrypt outgoing connections.
    {{if legacy_juju}}
        server ws1 {{api_address}} ssl ca-file {{api_pem}} verify required check-ssl inter 500ms
    {{else}}
        # Replace "/ws/" with "/" in any request path.
        reqrep ^([^\ ]*)\ /ws/    \1\ /
        server ws1 {{api_address}} ssl check-ssl inter 500ms
    {{endif}}

backend web
    # Web traffic.
    server web1 127.0.0.1:{{web_port}} check inter 500ms

frontend public
    # Redirect all HTTP traffic to HTTPS.
    bind :80
    {{if secure}}
        redirect scheme https if !{ ssl_fc }
    {{endif}}
    # Handle HTTPS.
    bind :443 ssl crt {{web_pem}}
    # Send WebSocket connections to the Juju backend.
    use_backend juju if { path /ws }
    # Send everything else to the web server.
    default_backend web
