description "Juju API agent"
author "Canonical"

start on runlevel [2345]
stop on runlevel [!2345]

env PYTHONPATH={{juju_dir}}:$PYTHONPATH
env JUJU_ZOOKEEPER={{zookeeper}}

# Use --nodaemon so that upstart can correctly retrieve the process ID.
exec /usr/bin/python -m juju.agents.api --nodaemon --port {{port}} \
    --logfile /var/log/juju/api-agent.log \
    --session-file /var/run/juju/api-agent.zksession \
    --secure --keys {{keys}} {{if read_only}} --read-only {{endif}}
