name: charm-helpers CI

on:
  push:
    branches:
      - 'stable/**'
  pull_request:
    branches:
      - 'stable/**'

jobs:
  build:

    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - python-version: "3.8"
            env: pep8,py38

    steps:
    - uses: actions/checkout@v4
    - name: Install juju
      run: |
        sudo snap install juju --classic
    - name: Install packages
      env:
        PYVERSION: ${{ matrix.python-version }}
      run: |
        PKG="libapt-pkg-dev bzr rustc cargo python3-dev tox"
        if [ "$PYVERSION" != "3.10" ]; then
          sudo add-apt-repository --yes ppa:deadsnakes/ppa
          PKG="$PKG python$PYVERSION-dev"
          if [ "$PYVERSION" = "3.8" ]; then
            PKG="$PKG python3.8-distutils"
          fi
        fi
        sudo apt -qq update
        sudo apt install --yes $PKG
    - name: Test
      run: tox -c tox.ini -e ${{ matrix.env }}
